@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --default-ff: "Roboto", sans-serif;
    --sidebar-fc: #ffffff;

    --sidebar-bg-color: #1992d4;
    --home-bg-color: #ffffff;
    --home-fc: #1992d4;
    --frst-list-gap: 4px;

    --search-bar-color: #e2e8f0;
    --morgan-bg-color: #facc15;
    --nav-list-bg-color: #1992d4;

    --project-bg-color: #d3d3d3;
    --main-card-bg-color: #ffffff;
    --left-side-card-bg-color: #facc15;
}

*,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul,
li {
    list-style-type: none;
}

body {
    font-family: var(--default-ff);
}

button {
    width: 40%;
    background: none;
    border: none;
}

.wrapper__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    margin-inline-start: 56px;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.header__row--first {
    display: flex;
    align-items: center;
}

.header__row--first #header__search--input {
    width: 100%;
    height: 3rem;
    background-color: var(--search-bar-color);
    border: none;
    border-radius: 8px;
    position: relative;
}

.header__row--first .search {
    padding-inline-start: 1.2rem;
    position: absolute;
}

.header__row--first .header__user-info {
    display: flex;
    gap: 1rem;
}

.header__user-info .header__user-avatar {
    width: 12%;
    padding: 5px;
    background-color: var(--morgan-bg-color);
    border-radius: 35px;
}

.header__user-info {
    align-items: center;
    justify-content: center;
}

.header__user-info .notification__icon {
    margin-inline-end: 0.5rem;
}

.header__row--second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 24px;
    margin-inline-end: 56px;
}

.header__intro-avatar {
    width: 68px;
    padding: 5px;
    background-color: var(--morgan-bg-color);
    border-radius: 35px;
    margin-inline-end: 2rem;
}

.header__intro {
    display: flex;
    align-items: center;
}

.header__greetings {
    font-size: 1rem;
    font-weight: bold;
}

.header__greetings-name {
    font-size: 24px;
    display: block;
    margin-block-start: 8px;
}

.header__nav-list {
    display: flex;
    gap: 2rem;
}

.header__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: var(--nav-list-bg-color);
    border-radius: 20px;
    color: #ffffff;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    color: var(--sidebar-fc);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem 0rem;
    padding-block-start: 2rem;
}

.sidebar__nav-link {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
}

.sidebar__dashboard {
    margin-block-end: 4rem;
}

.sidebar__section--home .sidebar__nav-link {
    background-color: var(--home-bg-color);
    max-width: 90%;
    height: 37px;
    border-radius: 8px;
    color: var(--home-fc);
}

.sidebar__nav-link .sidebar__icon--home {
    color: var(--home-fc);
}

.sidebar__communities {
    margin-block-end: 2rem;
}

.content__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    background-color: var(--project-bg-color);
    padding-inline: 2rem 2rem;
    padding-block: 2rem 2rem;
}

.project__content {
    grid-column: 1 / 3;
}

.project__content h3 {
    margin-block-end: 1rem;
}

.project__content .card__container {
    display: grid;
    width: 100%;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-inline: 0rem 2rem;
}

.card__container .card {
    display: flex;
    width: 100%;
    height: 13.5rem;
    border-radius: 8px;
    background-color: var(--main-card-bg-color);
    flex-direction: column;
    position: relative;
    gap: 8px;
    padding-inline: 30px 20px;
    padding-block: 30px;
}

.card__container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #ffd700;
    border-radius: 10px 0 0 10px;
}

.card__container .card p {
    font-size: 14px;
    margin-block: 0rem 1rem;
}
.card .button__links {
    display: flex;
    margin-block: 0.5rem 0rem;
    justify-content: flex-end;
    gap: 28px;
    margin-inline-end: 20px;
}

.button__links button {
    width: 8%;
}

.right__side__card-container {
    grid-column: 3 / 4;
    margin-inline: 2rem 0rem;
}

.right__side__card .announcement__content {
    display: grid;
    gap: 2rem;
}

.right__side__card-container h3 {
    margin-block-end: 1rem;
}
.right__side__card h4 {
    margin-bottom: 8px;
}
.right__side__card .gray__line {
    height: 2px;
    background-color: #e0e0e0;
    width: 100%;
}

.right__side__card-container .announcement__content,
.right__side__card-container .trending {
    width: 100%;
    height: 60%;
    background-color: var(--main-card-bg-color);
    padding-inline: 26px;
    padding-block: 31px;
    border-radius: 8px;
}

.right__side__card .trending {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right__side__card .morgan {
    width: 20%;
    padding: 5px;
    background-color: var(--morgan-bg-color);
    border-radius: 35px;
}

.trending__container .trending {
    display: flex;
    gap: 1rem;
}

.trending__container h3 {
    margin-block-start: 1rem;
}

.trending .trending__content {
    display: flex;
    align-items: center;
    gap: 18px;
}

.trending__content span {
    display: block;
    margin-block-end: 4px;
}
